*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: aquamarine;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: gray;
}
h3{
    color: yellow;
    font-size: 25px;
    text-align: center;
}
p{
    font-size: 20px;
    margin: 10px;
    color: black;
}